

.mode button{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--background-color);

         
}
.mode button:hover{
    cursor: pointer;
}

.mode img{
    height: 30px;
    width: 30px;
    background-color: var(--background-color);
    border-radius: 50%;
}
