*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
     word-wrap: break-word;
  overflow-wrap: break-word;
}

.container{
    display: flex;
}

.light-mode{
    --color:black;
    --background-color:white; 
}

.dark-mode{
    --color:white;
    --background-color:rgb(43, 43, 41);
}

@media (max-width:600px){
    .sepration{
        display: none;
    }
}

html {
    font-size: 16px;
}

@media (max-width: 1200px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 12px;
    }
}

